<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
	</configSections>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1"/>
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<security mode="None" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<services>
			<service name="NorthwindWCFService.CustomerService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="Application.Interfaces.ICustomerService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:56974/CustomerService.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, SOAPAction" />
			</customHeaders>
		</httpProtocol>

		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

	<connectionStrings>
		<add name="NorthwindContext"
			 connectionString="Server=localhost;Database=Northwind;User Id=sa;Password=wilson1890;Integrated Security=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
